# 忽略 IDE 配置文件
*.iml
.idea/
.DS_Store

# 忽略本地配置
local.properties

# 忽略构建输出
/build/
**/build/
.cxx/
.externalNativeBuild/

# 忽略 Gradle 缓存
.gradle/

# 忽略日志与临时文件
captures/
*.log

# 忽略测试生成数据
/test-results/
*.apk
*.ap_

# 忽略 Android Studio 导航等临时配置
*.hprof
